.header
{
    background-color:rgb(23, 3, 114) ;
}
.back
{
    background-color: rgb(1, 1, 51);
    overflow: hidden;
}
.btnfacebook
{
    background-color: rgb(18, 0, 88);
}
.btnfacebook:hover
{
    background-color: rgb(27, 3, 122);
}
.btnplus
{
    background-color: red;
}
.h1style
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#signup
{
    margin: auto;
    height: auto;
    /* width: 400px; */
    background-color:rgb(17, 116, 230) ;
}
#h1sign
{
    text-align: center;
    color: oldlace;
}

input[type=text], input[type=password] ,input[type=number]
{
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 50px;
}
input[type=file]
{
    width: 100%;
    color:white;
}
input[type=date]
{
    /* width: 70%; */
    padding: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 50px;
    color:grey ;
    text-align: center;
}
textarea
{
    border-radius: 10px;
    background: #f1f1f1;
    /* resize: none; */
    display: inline-block;
    margin: 5px 0 15px 0;
    border: none;
}
#login
{
    margin: auto;
    height: auto;
    /* width: 400px; */
    background-color:rgb(17, 114, 224)  ;
}
.val
{
    color: indigo;
}



.container1 {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 15px;
  }
  
  .skills {
    text-align: center; /* Right-align text */
    padding-top: 1px; /* Add top padding */
    padding-bottom: 1px; /* Add bottom padding */
    color: white; /* White text color */
    border-radius: 15px;
  }
 
  
  .poor {width: 30%; background-color:red;} 
  .medium {width: 60%; background-color:orange;}
  .strong {width: 100%; background-color:rgb(1, 92, 1);}
  * {box-sizing:border-box}