<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg header ">
    <a class="text-white ml-5" href="/" style="text-decoration: none;">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="far fa-square text-white ml-auto" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
        <%for(var i=0;i<nav.length;i++){%>
          <li class="nav-item">
            <a class="nav-link text-white" href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
          <%}%>
      </ul>
      
    </div>
  </nav>
      
  <div class="back m-0" style="border-radius: 0px;min-height: 200px;">
    <div class="row p-2">
    
      <div class="col-md-7">
        <h1 class="h1style text-white display-3 mt-5 ml-5">Library</h1>
      </div>
      
      <div class="col-md-5">
        <div class="header mt-5 mb-2" style=" min-height: 90px;margin-right: 50px;margin-left: 50px;">
          <div class="row">
            <div class="col-sm-12">
              <div style="height: 40px;"> </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1"> <div style="height: 40px;"> </div></div> -->
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div style="height: 60px;"> </div>
        </div>
      </div> 
    </div>
  </div>
  


    <div class="container-fluid jumbotron mb-0 flex-column" >
          <div style="background-color: white;margin-top: -95px;margin-left: 25px;margin-right:25px;background-image: url(flower.jpg);">
             
            <div style="height: 75px;"></div>
            <div  class="container">
              <div class="row">
                <div class="col-md-4"></div>
              <div id="login" class="col-md-4">
            
                <h1 id="h1sign">Add Book</h1>
                    <form action="/addbook/add" method="POST" enctype="multipart/form-data" onsubmit="return validateBook()">
                  <table style="margin:auto;padding:50px;">
                  <tr><td><input type="text" name="title" id="title" placeholder="Title of the book"></td></tr>
                  <tr><td><div class="val" id="tit"></div></td></tr>
                  <tr><td><input type="text" name="author" id="author" placeholder="Author name"></td></tr>
                  <tr><td><div class="val" id="aut"></div></td></tr>

                  <tr><td><input type="text" name="genre" id="genre" placeholder="Book Genre"></td></tr>
                  <tr><td><div class="val" id="gen"></div></td></tr>

                  <tr><td><input type="file" name="image" id="file" placeholder="Upload author image"></td></tr>
                  <tr><td><div class="val" id="fil"></div></td></tr>

                  
                  <tr><td><button type="submit" style="background-color:crimson;color:white;float: right; " class="btn m-3"> ADD BOOK </button></td></tr>
                  
                </table>
                </form>



              </div>

                <div class="col-md-4"></div>

              </div>
                </div>
            
               


                
                <div style="height: 75px;"></div>
        </div>
            
            <h2 style="margin-top: 75px;">Follow Us</h2>
            <div class="btn-group" style="width: 250px;">
              <button class="btn btn-primary" type="button" >Twitter</button>
              <button class="btn btn-info btnfacebook" type="button" >Facebook</button>
              <button class="btn btn-danger btnplus" type="button" >Google+</button>
            </div>
    </div>
      
      
          
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>    
<script src="/js/validation.js"></script>
</body>
</html>